<html>
    <head>
        <title>Wrist ML Application</title>
        <h5 class="ui right aligned header">0.0.3</h5>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        {% block javascript %}
            <script type="text/javascript">
                {% include "js/scripts.js" %}
            </script>
        {% endblock %}
        <style>
            body {
                margin: 0;
                padding: 0;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }
            .main-content {
                flex: 1;
                width: 90%;
                margin: 5em auto 0 auto;
                padding: 0.5em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted blue menu">
            <div class="ui container">
                <a class="header item">
                    <h2 style="margin: 0;">Wrist MET Calculator</h2>
                </a>
                <div class="right menu">
                    <a class="item">
                        <button id="help-btn" class="ui icon blue button" title="Help">
                            <i class="question circle outline icon"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>